.viewinvoice-container {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
   overflow-y: scroll;
  
}

.viewinvoice-container-dark {
background: #141625;
}

.all-components {
width: 60%;
height: 85%;
/* padding-bottom: 5rem; */
margin-bottom: 15rem;
margin-top: 9rem;



}
.small-show {
display: none !important;
}

.go-back {
width: 81px;
display: flex;
align-items: center;
gap: 24px;
margin-bottom: 1rem;
margin-top: 2rem;
}

.container-two {
background: #ffffff;
display: flex;
justify-content: space-between;
padding: 24px;
border-radius: 8px;
margin-bottom: 24px;
}

.container-two-dark {
background: #1e2139;
}

.status-pending {
width: 159px;
height: 40px;
display: flex;
align-items: center;
justify-content: space-between;
}

.status-pending p {
color: #858bb2;
font-size: 12px;
font-weight: 700;
}

.pending {
  /* background: rgba(255, 145, 0, 0.06); */
  /* color: #ff8f00; */
  border-radius: 6px;
  padding: 13px;
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: capitalize;
}

.pending-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background: #ff8f00; */
}

.buttons {
display: flex;
gap: 8px;
align-items: center;
width: 309px;
height: 48px;
}
.cursor {
cursor: pointer;
border: none;
}

.not-allowed{
opacity: 0.4;
}
.not-allowed:hover{
opacity: 0.4;
}

button:hover {
opacity: 0.7;
}

.edit {
width: 73px;
height: 48px;
background: #f9fafe;
color: var(--color-light-purple-gray);
border-radius: 1.5rem;
font-weight: 700;
}
.delete {
width: 89px;
height: 48px;
background: var(--color-pink);
color: #ffffff;
border-radius: 1.5rem;
font-weight: 700;
}
.paid {
width: 131px;
height: 48px;
background: var(--color-purple);
color: #ffffff;
border-radius: 1.5rem;
font-weight: 700;
}


.darkermode-dark {
  color: #ffffff;
}

.container-three {
  height: 100%;
  background:#FFFFFF;
  border-radius: 8px;
  padding: 3rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.container-three-dark {
background: #1e2139;
}

.design-address{
  display: flex;
  justify-content: space-between;
}

.design-senderStreet .words {
display: flex;
flex-direction: column;
gap: 8px;
}

.words h3 .tag{
  color: var(--color-light-purple-gray);
  font-size: 16px;
  font-weight: 500;
}

.words-words{
  color: var(--color-light-purple-gray);
  width: 96px;
  height: 15px;
  font-size: 12px;
  font-weight: 500;
}

.address{
 width: 94px;
 text-align: right;
 color: var(--color-light-purple-gray);
 font-weight: 500;
}

.date-bill{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 49px; 
}
.date-bill h4{
  font-weight: 700;
}


.invoce-date{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

.due-date{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;

}

.bill-to-address{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  margin-top: .5rem;
  
}

.sent-to{
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}

.invoice-date .paragraph, .due-date .paragraph, .bill-to-address .paragraph,
.sent-to .paragraph{
  color: var(--color-light-purple-gray);
}


.dark-label {
  color: var(--color-light);

}

.bill-to-address p{
font-weight: 500;
}

.words-words {
color: var(--color-light-purple-gray);
width: 96px;
height: 15px;
font-size: 12px;
font-weight: 500;
}

.senderStreet {
width: 94px;
text-align: right;
color: var(--color-light-purple-gray);
font-weight: 500;
}

.date-bill {
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
gap: 12px;
margin-top: 49px;
}
.date-bill h4 {
font-weight: 700;
}

.bill-to h4 {
color: #0c0e16;
}
.invoce-date {
grid-row-start: 1;
grid-column-start: 1;
grid-row-end: 2;
grid-column-end: 2;
}

.due-date {
grid-row-start: 2;
grid-column-start: 1;
grid-row-end: 3;
grid-column-end: 2;
}

.bill-to {
grid-row-start: 1;
grid-column-start: 2;
grid-row-end: 3;
grid-column-end: 3;
margin-top: 0.5rem;
}

.sent-to {
grid-row-start: 1;
grid-column-start: 3;
grid-row-end: 2;
grid-column-end: 4;
}

.invoice-date p,
.due-date p,
.bill-to p,
.sent-to p {
color: var(--color-light-purple-gray);
}

.bill-to p {
font-weight: 500;
}

.dark-mode {
color: var(--color-light);
}

.dark-mode p {
color: var(--color-light);
}
.container-quantity {
background-color: #f9fafe;
width: 100%;
height: 184px;
padding: 2rem;
margin-top: 3rem;
border-radius: 8px 8px 0px 0px;
}

.container-quantity-dark {
background: #252945;
}

.quantity-items {
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 40% 10% 25% 25%;
gap: 0px;
height: 100%;
}

.names,
.quantity,
.price,
.total {
color: var(--color-light-purple-gray);
height: 150%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.price-one span{
  display: none;
}

.price,.total{
  text-align: right;
  
}
.total-one,.total-two,
.price-one,.price-two{
  text-align: right;
}

.blue-box{
  background: #373B53;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-inline: 32px;
  align-items: center;
  /* gap: 369px; */
  border-radius: 0px 0px 8px 8px;
  

}

.blue-box-dark{
  background: #0C0E16;
}


.grand-total{
  color: #ffffff;
  font-weight: 500;

}
.amount{
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.quantity {
align-items: center;
}

.banner,
.email,
.total-one,
.total-two {
font-weight: 700;
}

.dark-mode-quantity {
color: white !important;
}
.price-one span{
display: none;
}
.quantity-one,
.price-one,
.quantity-two,
.price-two {
color: var(--color-light-purple-gray);
font-weight: 700;
}

.banner,
.email {
color: #0c0e16;
}

.price,
.total {
text-align: right;
}
.total-one,
.total-two,
.price-one,
.price-two {
text-align: right;
}

.blue-box {
background: #373b53;
height: 80px;
display: flex;
justify-content: space-between;
padding-inline: 32px;
align-items: center;
gap: 369px;
border-radius: 0px 0px 8px 8px;
}

.blue-box-dark {
background: #0c0e16;
}

.grand-total {
color: #ffffff;
font-weight: 500;
}
.amount {
color: #ffffff;
font-size: 24px;
font-weight: 700;
text-align: right;
}

/* media queries */

@media screen and (max-width: 980px) {
.viewinvoice-container {
  /* height: auto; */
  padding-top: 5rem;
  
}

.all-components {
  width: 90%;
  /* height: 100%; */
  margin: 0;
}

.go-back {
  margin-top: -1rem;
}
/* .container-three{
  background-color: blue;
} */

.design-senderStreet {
  display: flex;
  gap: 380px;
}

.senderStreet {
  text-align: right;
}

.blue-box {
  display: flex;
  gap: 100px;
}
}

@media screen and (max-width: 480px) {
  .viewinvoice-container {
    display: block;
 } 

 .go-back {
  padding: 1rem 0;
 }
 .all-components{
  height: auto;
  width: auto;
  padding: 1.5rem 2rem;
 }

 .names span,
 .quantity span,
 .total span,
 .price span{
  display: none;
 }


  .buttons {
    display: none;
  }
  .status-pending {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /* .price-one{
    width: 6rem;
  }
   */
    .container-three{
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
        padding: 1.5rem;
    }
    .small-show{
        display: flex !important;
        gap: 1rem;
        background: #ffffff;
        margin-top: 56px;
        width: 100% ;
        height: 91px;
        align-items: center;
        justify-content: inherit;
        padding: 2rem 0;
    }
    .small-show-dark{
        background: #1E2139;
    }

.price-one span{
  display: inline;
}

.container-two {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

.buttons {
  display: none;
}
.status-pending {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.price-one span{
  display: inline;
}

  .container-three{
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  }
  /* .small-show{
      display: flex !important;
      gap: 1rem;
      background: #ffffff;
      margin-top: 56px;
      width: 100% ;
      height: 91px;
      align-items: center;
      justify-content: inherit;
      
  } */

  /* .container-quantity {
    padding: 1.5rem;
    position: relative;
  } */

  .small-show-dark{
      background: #1E2139;
  }

  .design-address{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .address p{
      text-align: left;
      margin-top: 2rem;
  }
  
.design-senderStreet {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.senderStreet {
  text-align: left;
}

  .names,
  .quantity,
  .price,
  .total {
    width: max-content;
    position: relative;
  }
  .quantity {
    left: -400%;

  }

  .price-one span{
    margin-right: .3rem;
  }
  .price {
    position: relative;
    left: -185%;
  }

  /* .container-quantity .total {
    height: 235%;
  } */

  .total-one,
  .total-two {
    margin-top: auto;
  }

  .date-bill{
      display: grid; 
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
      height: 100%;   
      margin-bottom: -240px;
  }
  .price-one span{
      display: inline;
  }

.price-two span {
  display: inline;
  position: relative;
  z-index: 2;
  right: 0.1rem;
}

/* .container-quantity .total {
  height: 235%;
} */

.total-one,
.total-two {
  margin-top: auto;
}

.quantity-items{
  height: 110px;
  overflow: auto;
}

.quantity {
  top: 1rem;
  right: 6.4rem;
}

.price {
  top: 1rem;
  right: 6.8rem;
}

.invoce-date {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.bill-to {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  width: 9
}

.sent-to {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  margin-top: -8rem;
}
.container-quantity {
  margin-top: 5rem;
  padding: 1.3rem;
}
.bill-to p {
  text-align: left;
}

      .total-one, .total-two{
          margin-top: auto;
      }

      .quantity{
          top: 1rem;
          right: 6.4rem;
      }

      .price{
           top: 1rem;
           right: 6.8rem;
      }

  .invoce-date{
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 2;
      
   }
   .bill-to-address{
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 2;
      grid-column-end: 3;
      width: 93px;
      
   }
   .due-date{
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 2;
      margin-top: -5rem;
      
   }


   .container-quantity{
      margin-top:5rem;
   }
   .bill-to-address p{
      text-align: left;
   }

   .blue-box{
      display: flex;
      justify-content:space-between;
      align-items: center;
      gap: 0;
      padding: 0 1.3rem;
   }
   .grand-total{
    font-size: 11.5px;
   }

   .amount{
    font-size: 20px;
   }
  }

@media screen and (max-width: 417px){
  .viewinvoice-container{
    height: 100vh;
    overflow-y: scroll;
  }
  .all-components{
    height: 100vh;

    margin-bottom: 8rem;
margin-top: 25rem;
  }
  .container-three{
padding: 1.5rem;
  }

  .container-quantity{
    
      padding: 1rem;
      position: relative;
  }

  .container-quantity span{
      display: none;
      
  }

  .quantity-items{
      position: relative;
  }

  .names{
      position: relative;
  }

  .banner:nth-of-type(1){
position: absolute;
top: 1.5rem;
  }

.banner:nth-of-type(2){
position: absolute;
top: 86px;
  }


  .container-quantity .price-one{
      position: absolute;
      z-index: 3;
      width: 4.2rem;
      left: 1.7rem;
      right: 0;
      
  }

  .container-quantity .price-one span{
      display: inline;
      position: absolute;
      height: 50%;
      bottom: .6rem;
      left: .4rem;
      width: 10px;
  
  }


  .price-two{       
       width: auto;
      position: absolute;
  }

  .price-two span{
      display: inline;
      position: relative;
      z-index: 2;
  }

.names,
.quantity,
.price,
.total {
  justify-content: space-around;
  position: relative;
  height: 240%;
}

.container-quantity .total {
  height: 235%;
}

      .total-one, .total-two{
          margin-top: auto;

      }

      .quantity{
          position: absolute;
          top: 1.48rem;
          left: -.2rem;
          width: 1rem;
          height: 9rem;
      
      }

.price {
  top: 1rem;
  right: 6.8rem;
}

      .blue-box{
          display: flex;
          gap: 12px;
       }

        .price-one span{
        display: inline;
    }
}


@media screen and (max-width: 376px){
  .viewinvoice-container{
    height: 100vh;
    overflow-y: scroll;
  }
  .all-components{
    height: 150%;

    margin-bottom: 8rem;
margin-top: 35rem;
  }
}
