@media screen and (min-width: 1280px) {
    .viewinvoice-container{
        padding: 7rem 13rem;
    }
}
.viewinvoice-container {
    padding-block: 5rem;
    background-color: #F2F2F2;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    background-color: #F2F2F2;
    width: 100%;
     
}

.viewinvoice-container-dark {
    background: #141625;
    justify-content: center;
    height: 100vh;
}

.viewinvoice-container-dark {
    background: #141625;
}

.all-components{
 width: 70%; 
background-color: pink;
}

.go-back{
    display: flex;
    gap:1rem;
    align-items: center;    
    align-items: center;   

}

.go-back img{
    width: 8px;
    height: auto;
}



.container-two{
    margin-top: 32px;
    /* width: 730px; */
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 2rem;
    align-items: center;
}

.container-two-dark {
    background: #1E2139;

}

.status-pending {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 159px;
    /* height: 40px; */
    
    /* height: 40px; */

}
.status-pending p{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.25px;
    color: #858BB2;
}

.pending {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 145, 0, 0.06);
    border-radius: 6px;
    width: 104px;
    height: 40px;
    padding: 0 0.2rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #FF8F00; 
}



.pending-dot {
    width: 5px;
    height: 5px;
    background: #FF8F00;
    border-radius: 50%;

}


.buttons{
    width: 309px;
    height: 48px;
    display: flex;
    gap: 8px;

}

.mobile-btn{
    display: none;
}

.edit{
    width: 73px;
    height: 48px;
    background-color: #F9FAFE;
    color: var(  --color-light-purple-gray);
    border-radius: 1.5rem;
    font-size: 12px;
    font-weight: 700;

}
.cursor{
    cursor: pointer;
    border: none;
}

button:hover{
    opacity: .7;
}



.delete{
    width: 89px;
    height: 48px;
    background-color: var(--color-pink);
    color: #FFFFFF;
    border-radius: 1.5rem;
    font-size: 12px;
    font-weight: 700;
}

.paid{
    width: 131px;
    height: 48px;
    background-color: var(--color-purple);
    color: #FFFFFF;
    border-radius: 1.5rem;
    font-size: 12px;
    font-weight: 700;

}

.section-center{
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
}
.section-center{
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: green;
}

.container-three{
    margin-top: 24px;
    /* width: 730px; */
    height: auto;
    padding: 2rem;
    margin-bottom: 54px;
    /* width: 730px; */
    height: auto;
    padding: 2rem;
    /* margin-bottom: 54px; */
    border-radius: 0.5rem;
    background-color: #FFFFFF;

    margin: 0;
    padding: 0;
    background: blue;

} 

.container-three-dark {
    background: #1E2139;

}


.container-three-dark {
    background: #1E2139;
}


.design-address{
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
}


.design-address{
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
}

.date-address{
    display: flex;
    gap: 100px;
}

.design-address .words{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.words h3 span{
    color: var(--color-light-purple-gray);
    font-size: 16px;
    font-weight: 500;
}
.words-words{
}

.words-words{
    width: 96px;
    height: 15px;
    color: var(--color-light-purple-gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.address{
    width: 94px;
    text-align: right;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: var(--color-light-purple-gray);
}

.date-bill {

    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    height: 100%;
    margin-top: 49px;
    
 }
.invoice-date{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    
 }

 .invoice-date p,.due-date p,
 .bill-to p,.sent-to p{
    width: 96px;
    height: 15px;
 } 


.invoice-date{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
 }

.invoice-date p,.due-date p,
 .bill-to p,.sent-to p{
    width: 96px;
    height: 15px;
    color: var(--color-light-purple-gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
 }


 .due-date{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin-top: 1rem;
 }

 .bill-to {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;

 }
 .sent-to {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;

 }

 .due-date{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    margin-top: 1rem;
    
 }
 .bill-to {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 .sent-to {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    
 }


.item-quantity{
    background-color: #F9FAFE;
    padding: 1.5rem;
    padding-inline: 32px;
    border-radius: 8px 8px 0px 0px;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 50% 15% 15% 12%;
    gap: 18px;
} 
.item-quantity-dark{
    background: #252945;
}

.items-item,
 .down-section {
    display: flex;
    flex-direction: column;
    background: crimson;
    margin: 0;
    height: max-content;
    width: 100%;
 } 

.item-quantity{
    background-color: #F9FAFE;
    padding: 1.5rem;
    border-radius: 8px 8px 0px 0px;
    display: grid;
    grid-template-columns: 50% 15% 15% 12%;
    gap: 18px;
    background: forestgreen;
} 
.item-quantity-dark{
    background: #252945;
}

 .items-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.items-item:nth-child(2) > div:nth-child(2) {
    padding-left: 15%;
}
.items-item:nth-child(2) > div:nth-child(3) {
    padding-left: 15%;
}

.items-item:nth-child(3),
.items-item:nth-child(4) {
    
    text-align: right;

    gap: 32px;
} 



.items-item:nth-child(2) > div:nth-child(2) {
    padding-left: 15%;
}
.items-item:nth-child(2) > div:nth-child(3) {
    padding-left: 15%;
}

.items-item:nth-child(3),
.items-item:nth-child(4) {

    text-align: right;
}
.cool{
    font-weight: 700;
}
.cold{
  color:var(--color-light-purple-gray) ;
  font-weight: 700;
}
.warm{
    color:var(--color-light-purple-gray) ;
}
.cool{
    font-weight: 700;
}
.cold{
  color:var(--color-light-purple-gray) ;
  font-weight: 700;
}
.warm{
    color:var(--color-light-purple-gray) ;
}

.blue-box{
    background-color: #373B53;
    background-color: #373B53;
    display: flex;
    justify-content: center;
    align-items: center;
justify-content: space-between;
    height: 80px;
    border-radius: 0px 0px 8px 8px;
    padding: 2rem;
   
}
.blue-box-dark {
    background: #0C0E16;
    justify-content: center;
    align-items: center;
justify-content: space-between;
    height: 80px;
    border-radius: 0px 0px 8px 8px;
    padding: 2rem;

} 
.blue-box-dark {
    background: #0C0E16;
}

.grand-total{
    color: #FFFFFF;

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.amount{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;
    
}


/* tablet */
@media screen and (max-width: 1023px){
    .viewinvoice-container {
        width: 100%;
        height: 50%;
        overflow-y: scroll ;
        margin: 2rem 0;
        padding: 5rem; 
    }

    /* .all-components{
        margin-top: 7rem;
       
    } */

    .container-two{
        /* width: 688px; */
        height: 88px;
    }

    .container-three{
        /* width: 688px; */
        height: 602px;
    }

    .section-center{
        margin-top: 1rem;
    }

    .date-bill{
      margin-top: 21px;
    }


.item-quantity{
    margin-top: 50px;
}
   



.amount{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;

}



/* mobile */
@media screen and (max-width: 480px) {
    .viewinvoice-container{
        width: 100%;
        padding: 2rem;
        height: auto;
    }


    .all-components{
        margin-top: -1rem;
    }
    .status-pending{
        justify-content: space-between;
        width: inherit;
    }
    .buttons{
        display: none;
    }

    .mobile-btn{
        display: block;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 2rem ;

    }

    .container-two{
        width: 100%;
        height: 91px;
    }

    .container-three{
        width: 100%;
        height: 695px;
        padding: 2rem 1rem;
    
    }


    .design-address{
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
    }

    .address{
        margin-top: 1rem;
        text-align: left;
    }

    .date-address{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        height: 100%; 
    }

    .invoice-date{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
    }

    .due-date{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        margin-top: .4rem;
    }

    .bill-to{
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
    }
    .sent-to{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
        margin-top: -1rem;
    }
    .item-quantity{
        margin-top: 40px;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .item-quantity-total{
        grid-row-start: 1;
        grid-column-start: 3;
        margin-top: 10px;
        grid-row-gap: 44px;
    }


    .design{
        grid-column-end: 3;
      grid-column-start: 1;
    }

    .blue-box{
        padding: 2rem 1.5rem;
    }
    .amount{
        font-size: 1.5rem;
    }

    .warm,.hot,.swiss{
        display: none;
    }
}