 .all{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.561);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
}
.section {
  width: 50%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 26px;
}
.dark-section {
  background: var(--color-dark);
}
.light-section {
  background: var(--color-white);
}
.form-contents{
  display: flex;
  flex-direction: column;
  width: 90% ;
  height: 85%;
  padding-inline: 56px;
}
.navigate{
  display: none;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.dark-title {
  color: #ffffff;
}
main {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.561);
    position: absolute;
  }

  .section {
    width: 50% ;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 56px;
  }

@media only screen and (max-width: 1282px) {
  .sections {
    width: 58%;
  }
  .form-contents {
    width: 85%;
  }
  .in{
    width: 100%;
  }
  .addresses{
    width: 100%;
  }
  .invoice{
    width: 99% ;
  }
  .invoice-row{
    width: 100%;
  }
  input[type="date"] {
    width: 230px;
  }
  .selects-item{
    width: 230px;
  }
  .mess{
    width: 100%;
  }
  
}

@media only screen and (max-width: 1110px) {
  .sections {
    width: 70%;
    
  }
  .form-contents {
    width: 100%;
  }
}

@media only screen and (max-width: 1025px) {
  .sections {
    width: 70%;
  }
  .form-contents {
    width: 88%;
  }
  .in {
    width: 100%;
  }
  .addresses {
    width: 100%;
  }
  .in[type="date"] {
    width: 100%;
  }
  .message {
    width: 100%;
  }
  .invoice-row {
    width: 100%;
  }
  .item-.ins {
    width: 100%;
  }
  .item-text {
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .item-.ins {
    width: 100%;
    display: grid;
    grid-template-columns: 95%;
    gap: 16px;
  }
  .rest {
    width: 100%;
    display: grid;
    grid-template-columns: 104px 165px 110px 150px;
    gap: 20px;
  }
  .item-btn {
    width: 99%;
  }
  .invoice-input {
    width: 150%;
  }
}
@media only screen and (max-width: 915px) {
 
  .form-contents {
    width: 100%;
    height: 48px;
    margin-top: 18px;
    border: none;
    border-radius: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -0.25px;
    cursor: pointer;
  }

  .item-btn:hover {
    background: var(--color-light);
  }
  .dark-item-btn {
    color: var(--color-light);
    background: #252945;
  }

  .light-item-btn {
    color: var(--color-light-purple-gray);
    background: var(--color-background);
  }

  svg {
    cursor: pointer;
    /* margin-top: 60px; */
  }


  svg {
    cursor: pointer;
    /* margin-top: 60px; */
  }
  
  .dark-input {
    background: #1e2139;
    color: #ffffff;
    border: transparent;
  }
  .light-input {
    background: #ffffff;
    color: #0c0e16;
  }

  .error {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.208333px;
    color: var(--color-pink);
    margin-top: 25px;
  }

  .edit-invoice-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    height: 15%;
    width: 85%;
    padding-inline: 56px;
  }
  .edit-button-section {
    width: 242px;
    height: 48px;
    display: flex;
    justify-content: space-between;
  }
  .cancel-btn {
    background: #f9fafe;
    border-radius: 24px;
    width: 96px;
    height: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.25px;
    border: none;
    color: var(--color-light-purple-gray);
    text-transform: capitalize;
    cursor: pointer;
  }
  .cancel-btn:hover {
    background: #0c0e16;
    color: #888eb0;
  }
  .dark-cancel-btn {
    background: #1e2139;
    color: var(--color-light);
  }

  .save-btn {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    border-radius: 24px;
    width: 138px;
    height: 100%;
    background: var(--color-purple);
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .save-btn:hover {
    background: var(--color-light-purple);
  }
  .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.address-row{
    display: flex;
    width: 66.6%;
    justify-content: space-between;
}
  
  @media only screen and (max-width: 1440px) {
    .section {
      width: 50% ;
    }
    .form-content {
      width: 88%;
    }
  }
  .invoice-row {
    width: 100%;
  }
  input[type="date"] {
    width: 240px !important;
  }
  .selects-item {
    width: 240px;
  }
  .navigate {
    display: none;
  }
  .addresses {
    width: 100%;
  }
  .addresses-row {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }
}

  
  @media only screen and (max-width: 1440px) {
    .section {
      width: 88%;
    }

  .in {
    width: 100%;
  }
  .invoice-row {
    width: 100%;
  }
  .addresses {
    width: 100%;
  }
  .message {
    width: 100%;
  }
  .navigate {
    display: none;
  }
  .addresses {
    width: 100%;
  }
  .addresses-row {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }
}

 /* Moble screens */

 @media only screen and (max-width: 542px) {
  .sections {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    padding-top: 100px;
  }
  .navigate {
    display: flex;
  }
  .in {
    width: 100%;
  }

  .form-contents {
    width: 105%;
  }
  .form-section {
    width: 110%;
  }
  .bill-form-section {
    width: 99.5%;
  }

 .addresses .country-message {
    display: flex;
    justify-content: space-between;
    width: 335px;
  }
  .addresses {
    display: flex;
    flex-wrap: wrap;
  }
  .addresses-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .addresses .city-in{
    width: 220px;
  }
  .addresses .post-in{
    width: 220px;
  }
  .addresses .county-in {
    width: 146% ;
  }
  
  .invoice {
    width: 100%;
  }
  .invoice-row {
    flex-direction: column;
  }
  .invoice-row .invoice-inputs {
    width: 91vw !important;
  }
  .selects-item {
    width: 91vw !important;
  }
  .headings {
    display: flex;
    flex-direction: column;
  }

  .project-in {
    width: 99.5%;
  }

  .addresses-row {
    margin-left: unset;
  }
  .item-btn {
    width: 100%;
  }
  .addresses .city-message{
    width: 100%;
  }
  .addresses .post-message{
    width: 100%;
  }
  
}


@media only screen and (max-width: 420px) {
  .sections {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    padding-top: 65px;
  }
  .form-section {
    width: 120% ;
    margin-left: -25px;
    margin-top:10px ;
    
    
  }
  .navigate {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin-left: -20px;
    z-index: 20;
    margin-bottom: 24px;
  }
  .title {
    margin-left: -20px;
    z-index: 20;
  }
  .in {
    width: 100%;
  }
  .post {
    margin-left: 1px;
    width: 150px;
  }
  .form-contents {
    width: 105%;
  }
  .form-section {
    width: 115%;
  }
  .bill-form-section {
    width: 99.5%;
  }
  .country-message {
    display: flex;
    justify-content: space-between;
    width: 335px;
  }
  .addresses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .addresses-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .addresses .city-in{
    width: 150px ;
  }
  .addresses .post-in{
    width: 150px;
  }

  .addresses .county-in {
    width: 107%;
  }
  .invoice {
    width: 100%;
  }
  .invoice-row {
    flex-direction: column;
  }
  .invoice-row .invoice-inputs {
    width: 87vw !important;
  }

  .selects-item {
    width: 87vw !important;
  }
  .headings {
    display: flex;
    flex-direction: column;
  }

  .project-in {
    width: 99.5%;
  }

  .addresses-row {
    margin-left: unset;
  }
  .item-btn {
    width: 100%;
  }
 
  .addresses .city-message{
    width: 100%;
  }
  .addresses .post-message{
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .sections {
    width: 100%;
  }
  .form-contents {
    width: 102%;
  }

  .in {
    width: 99%;
  }
  .navigate {
    display: flex;
    margin-left: -25px;
  }
  .title {
    margin-left: -25px;
  }
  .addresses .county-in {
    width: 81vw;
  }
    .addresses .country-message{
    width: 99%;
  }
  .invoice-row .invoice-inputs {
    width: 81vw !important;
  }

  .selects-item {
    width: 81vw !important;
  }
  .addresses-row {
    width: 97%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 376px) {
  .sections {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    padding-top: 75px;
    /* margin-top: -150px; */
  }
 
  .navigate {
    display: flex;
    /* margin-left: -40px; */
  }
  .form-section {
    width: 130% ;
  }
  .bill-form-section {
    width: 99.5%;
  }
  .in {
    width: 100%;
  }
 

  .addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .addresses .city-in {
    width: 40vw;
  }
  .addresses .post-in {
    width: 40vw;
  }
  .addresses-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .post {
    margin-left: 40px;
  }

  .addresses .county-in {
    width: 160%  ;
  }

  .invoice {
    width: 100%;
  }
   .invoice-row {
    flex-direction: column;
  }
  .invoice .invoice-inputs {
    width: 91vw !important;
  }
  .selects-item {
    width: 91vw !important;
  }
  .headings {
    display: flex;
    flex-direction: column;
  }

  .project-in {
    width: 99.5%;
  }
  .addresses-row {
    margin-left: unset;
  }
  .item-btn {
    width: 100%;
  }
}
@media only screen and (max-width: 363px) {
  .sections {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .form-section {
    width: 110% ;
  }
  .form-contents {
    width: 92%;
    padding-inline: 10px;
  }

  .addresses .city-in {
    width: 100%;
  }
  .addresses .post-in {
    width: 100%;
  }
  .addresses .county-in {
    width: 155%   ;
  }
  .invoice-row .invoice-input {
    width: 106vw;
  }
  .select-items {
    width: 94vw;
  }
  .navigate {
    display: flex;
  }
  .options {
    width: 104vw;
  }
  .input-title {
    width: 100%;
  }

  .addresses-row {
    margin-left: unset;
  }
  .item-btn {
    width: 100%;
  }
 
}

@media only screen and (max-width: 325px) {
  .sections {
    width: 100%;
  }
  .form-section {
    width: 105% ;
    margin-left: -6px;
  }
  .form-contents {
    width: 100%;
  }

  .navigate {
    display: flex;
    margin-left: 0;
  }
  .title {
    margin-left: 0;
  }
  .addresses .county-in {
    width: 78% ;
  }

  .in {
    width: 99%;
  }

  .addresses-row {
    margin-left: unset;
  }
}
