.items-section {
  margin-block: 32px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding-inline: 8px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 40%;
}
th:nth-child(2),
td:nth-child(2) {
    width: 15%;
}
th:nth-child(3),
td:nth-child(3) {
    width: 25%;
}
th:nth-child(4),
td:nth-child(4) {
    width: 30%;
}

td {
    height: 48px;
    margin-bottom: 0.5rem;
}

td.item-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin-top: 10px;
}

.item-delete-svg {
    height: 48px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-delete-svg svg {
    margin: auto;
}


.add-item-button {
  border-radius: 24px;
  width: 100%;
  margin-top: 18px;
  border: none;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  cursor: pointer;
}

.add-item-button-light {
  color: var(--color-light-purple-gray);
  background: #f9fafe;
}

.add-item-button-light:hover {
  background: var(--color-light);
}

.add-item-button-dark {
  background: var(--color-dark-purple-secondary);
  color: var(--color-light);
}

.add-item-button-dark:hover {
  background: var(--color-dark-purple-primary);
}


@media screen and (max-width: 550px) {
    tr {
        background-color: violet;
        display: flex;
        flex-wrap: wrap;
    }

    th:nth-child(1), td:nth-child(1) {
        /* flex: ; */
        background-color: green;
        width: 80vw;
    }
    th:nth-child(2), td:nth-child(2) {
        /* flex: ; */
        background-color: blue;
        width: 80vw;
    }
    th:nth-child(3), td:nth-child(3) {
        /* flex: ; */
        background-color: crimson;
        width: 80vw;
    }
    th:nth-child(4), td:nth-child(4) {
        /* flex: ; */
        background-color: purple;
        width: 80vw;
    }
    
}