@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*:hover {
  transition: all 0.3s linear;
}


:root {
  --color-purple: #7C5DFA;
  --color-light-purple: #9277FF;
  --color-dark-purple-primary: #1E2139;
  --color-dark-purple-secondary: #252945;
  --color-light: #DFE3FA;
  --color-purple-gray: #888EB0;
  --color-light-purple-gray: #7E88C3;
  --color-black: #0C0E16;
  --color-dark: #141625;
  --color-white-shade: #F8F8FB;
  --color-white: #FFFFFF;
  --color-background: #F2F2F2;
  --color-pink: #EC5757;
  --color-light-pink: #ff9797;
}

html {
  scroll-behavior: smooth;
  font-family: 'League Spartan', sans-serif;
}

body {
  font-size: 12px;
}

.App {
  width: 100vw;
  height: 100vh;
}

/* light background */
.light {
  color: var(--color-dark);
  background: var(--color-background);
}

.dark {
  background: var(--color-dark);
  color: var(--color-white);
}

h1, h2, h3 {
font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}


